.movie-content {
  background-color: rgb(6, 6, 35);
  width: 100%;
  padding-bottom: 100px;
  margin-top: 170px;
  max-width: 2000px;
  color: white;
  display: flex;

  justify-content: center;

  .movie-content__flex {
    width: 90%;

    display: flex;
    flex-direction: column;
  }
}
